.title {
    text-align: center;
}

.btn {
    text-align: center;
    padding: .25em 1em;
    border-radius: 16px;
    color: #fff;
    background: #52aeff;
    margin: auto;
    display: block;
    max-width: 260px;
}